.new-expense {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #283F3B;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    /* border-radius: 12px; */
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.expense-item__total {
    font-size: 1rem;
    font-weight: bold;
    color: #99ddc8;
    background-color: #283f3b;
    border: 1px solid #99ddc8;
    padding: 0.5rem;
    border-radius: 12px;
    margin-top: 6px;
    min-width: 110px;
    font-size: larger;
}

.new-expense h2{
    color: #99ddc8;
}

.new-expense button {
    width: 40px;
    height: 40px;
    font: inherit;
    cursor: pointer;
    /* padding: 1rem 2rem; */
    padding: 0;
    border: 1px solid #556f44;
    background-color: #283f3b;
    color: white;
    box-sizing: border-box;
    border-radius: 50%;
    /* margin-right: 1rem; */
}

.new-expense button:hover,
.new-expense button:active {
    background-color: #659b5e;
    border-color: #283f3b;
}

.new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
    background-color: #659b5e;
}

.glass {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass2{
    background-color: pink;
}